@model IEnumerable<SkyGlobal.Models.WorkUpdateTopic>

@{
    ViewData["Title"] = "Index";
}

<!-- breadcrumb -->
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="w3breadcrumb-gids text-center pt-5">
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index.html" class="breadcrumb-link">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Work Update Topic</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//breadcrumb-->

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topicpicture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topicpicture)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkUpdateTopicId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkUpdateTopicId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkUpdateTopicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
