@model SkyGlobal.Models.WorkUpdate

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WorkUpdate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticlePicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticlePicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Update)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Update)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkUpdateTopic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkUpdateTopic.WorkUpdateTopicId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrendingNow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrendingNow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakingNews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakingNews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickOfMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickOfMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditorsPick)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditorsPick)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePublished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReadingDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReadingDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WorkUpdateId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
